head,h1{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size: 30px;
	text-align: center;    
}

h3{
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	color: #0055BB
}

body{
	background: whitesmoke;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    margin:20px;
}


p,li{
    color: darkslategrey;
    width:90%
}

em{
	color: #7500C3;
}

ul{
    list-style-type: decimal;
}

ol{
    list-style-type: circle;}

li{
    margin: 10px;
}

a{
	text-decoration: none;
	background-color: #F3FF7D;
}

img{
	border-radius: 60px;
	align-content: flex-start;
    padding-left:50px;
    padding-top:30px;
}

img:hover{
	opacity: 0.75;
}

pre{
	background-color: #C5D4FB;
	border-radius: 30px;
	border-style: hidden;
    width:50%
}

table{
    border-style: ridge;
    padding: 20px;
    text-align: center;
}
